.STYLE1 .STYLE15 a {
    color: #CCCCCC;
}

.STYLE1 {
    font-size: 12px
}

body {
    background-color: #000000;
}

.STYLE4 {
    color: #99CC00
}

.STYLE5 {
    color: #FFFFFF;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.STYLE26 {
    color: #FF6600
}

.STYLE37 {
    color: #333333;
    font-size: 12px;
}

.STYLE13 {
    font-size: 12px;
    color: #999999;
}

.STYLE15 {
    color: #CC9900;
    font-size: 12px;
    text-decoration: none;
}

.STYLE77 {
    color: #FF6600;
    font-size: 12px;
}

.STYLE82 {
    color: #FF0000
}

.STYLE83 {
    color: #FFFF66
}

.STYLE86 {
    font-weight: bold;
    color: #FF0000;
}

.STYLE87 {
    color: #666666
}

.STYLE90 {
    color: #FF3366;
}

.STYLE91 {
    color: #CCCCCC
}

/*
     FILE ARCHIVED ON 06:21:09 Dec 06, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:31:50 Feb 10, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.613
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.009
  esindex: 0.009
  cdx.remote: 172.083
  LoadShardBlock: 174.519 (3)
  PetaboxLoader3.datanode: 176.399 (4)
  load_resource: 312.67
  PetaboxLoader3.resolve: 160.728
*/